---
import { actions } from "astro:actions";

export const prerender = false;

const result = Astro.getActionResult(actions.good);
console.log(result);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>Astro</h1>
        <form method="POST" action={actions.notFound}>
            <button>Run not found</button>
        </form>
        <form method="POST" action={actions.good}>
            <button>Run good</button>
            {result?.data?.good && <p>Saul Goodman</p>}
        </form>
    </body>
</html>
